---
import Layout from '../layouts/BlogPost.astro';

const  aboutImage = '/about-image.jpg';

---

<Layout
	title="About Me"
	description="Under construction"
	pubDate={new Date('October 30 2024')}
	heroImage={aboutImage}
>
	<h2>Under construction</h2>
</Layout>
