---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Under construction"
	pubDate={new Date('October 30 2024')}
	heroImage="/about-image.jpg"
>
	<h2>Under construction</h2>
</Layout>
