---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getLangFromUrl, useTranslations } from '../translations/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead title={SITE_TITLE} description={t(SITE_DESCRIPTION)} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Wilder Olmos is a dev!</h1>
			<p>
				Hey there! I'm Wilder Olmos but everyone calls me Will, and here’s a bit about me:
			</p>
			<ul>
				<li>I surf whenever I get the chance.</li>
				<li>I work on some cool stuff at Corus Consulting.</li>
				<li>I love taking acting classes.</li>
				<li>I’m all about casual vibes when it comes to clothes.</li>
				<li>I like to meditate every now and then.</li>
				<li>Yeah... I really need to brush up on my English.</li>
				<li>Planning to wrap up this site and drop my first post by the end of November 2024!</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
